<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Forgot Password Email Templates | Stacklabs</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,700,900');
    body{
      font-family: "Rubik",Helvetica,Arial,sans-serif;
      -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
           margin: 0;
           font-size: 16px;
           line-height: 1.6;
           font-weight: normal;
           color:#222222;
    }
    body *
    {
      -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;

    }
    body p{
      font-family: "Rubik",Helvetica,Arial,sans-serif;
    }
    body a{
      text-decoration: none;
      outline: none;
      color: #dd8e03;
    }
    body a:hover{
      outline: none;
      text-decoration: underline;
      color: #dd8e03;
    }
     h1, h2, h3 {
       font-family: "Roboto",Helvetica,Arial,sans-serif;
     }
</style>
  </head>
  <body style="margin:30px 0; font-family: 'Lato',sans-serif; background-color: #f9f9f9;  text-align: center; line-height:1.6; color:#2D1D0b; font-size:1.2rem;">
    <table style="max-width:100%; width:650px; margin: 0 auto; background: linear-gradient(to bottom, #ffffff, #f7f7eb);" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="text-align:right; padding: 0 50px;">
                    <img src="cid:Page-1.png" style="vertical-align:middle; max-width:150px;" alt="MetaSecure Logo">
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-bottom: 30px;">
                    <p style="color: green;">Greetings!!</p>
                    <h2 style="font-weight: 900; color: #151515; font-size: 2rem; margin: 0px 0px 16px; line-height:1.3;">
                        MetaSecure Cloud Native<br> Application Security</h2>
                </td>
            </tr>
            <tr>
                <td style="width:100%;">
                    <img src="cid:email-template-illustration.png">
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 0 70px;">
                    <p style="font-size: 0.9rem; color: #5B4423;">
                        you are receiving this email because you requested a forgot password for your MetaSecure Account.  
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-top: 10px;">
                    <button style="background-color: #231F20; border: none; outline: none; color: #fff; font-size: 1rem;"><a style="color:white; text-decoration:none;  padding: 13px 30px; display: block" href="{{.VerificationCode}}">Reset your password</a></button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 0 70px; padding-top: 10px;">
                    <p style="font-size: 0.8rem; color: #897D71;">If you didn't request to change your password, you don't have to do anything. This link will expire automatically within 30 min</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 50px; font-weight: 550;">
                        <p>A product of XenonStack</p>
                </td>
            </tr>
            <tr>
                <td style="display: flex; width:24%; margin:auto; padding-bottom: 30px;">
                    <a style="padding-right: 20px;" href="https://www.facebook.com/pg/xenonstack"><img src="cid:facebook.png" alt="" srcset=""></a>
                    <a style="padding-right: 20px;" href="https://twitter.com/xenonstack/"><img src="cid:twitter.png" alt="" srcset=""></a>
                    <a href="https://www.linkedin.com/showcase/akirastack/"><img src="cid:linkedin.png" alt="" srcset=""></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
